.class1 {
  @media (max-width: 768px) {
    background-color: red;
  }
}

.class2 {
  @media (max-width: 768px) {
    background-color: green;
  }
}

.class3 {
  @media (max-width: 768px) {
    background-color: blue;
  }
}